body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color:black;
}
.header{
	height: 83px;
	border-radius: 20px 20px 0 0;
	background-image: url("title0.jpg");
}

div.headerTitle{
	width:500px;
	height:83px;
	margin-left:15px;
	//border:1px solid red;
	float: left;
}

header h1{
	font-size:45px;
	font-weight: 900;
	margin-top:11px;
	margin-left:18px;
	text-decoration:none;
	-webkit-text-stroke: 1px #000000;
	text-stroke: 1px #000000;
	background: linear-gradient(0deg, #D5B468, #FFFF7E);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-square-pop {
	width:85px;
	height:27px;
	
	padding-top:4px;
	
	text-align:center;
	
	margin-top:25px;
	margin-right:30px;
	position:relative;
	display:inline-block;
	text-decoration:none;
	color:#FFFFFF;
	background:#FD9535;
	border-bottom:solid 2px #D27D00;
	border-radius:4px;
	box-shadow:inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
	font-weight:bold;
	text-shadow: 1px 2px 3px #666666;
}

.btn-square-pop:active {
	border-bottom:solid 2px #FD9535;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.30);
}

div.headerBotton{
	width:350px;
	height:83px;
	//border:1px solid green;
	float: right;
}


.footer{
	flex: 1;
	background-color: #EEEEEE;
	text-align: center;
	margin-top: 9px;
	display: flex;
	justify-content: center;
	position: relative;
	background-image: url("wood-texture.jpg");
	border-radius: 0 0 20px 20px;
}

table{
	width: 950px;
	height: 600px;
	border-spacing: 0px 40px;
	border-collapse: separate;
	font-size : 45px;
	font-weight : bold;
	color: #000000;
	text-shadow: 1px 2px 5px #FFFFFF;
	//-webkit-text-stroke: 1px #FFFFFF;
	//text-stroke: 1px #FFFFFF;

}

table tr:nth-child(1) {
	background:linear-gradient(#FCBE09, #FFEA73);
	box-shadow:0px 30px 8px -25px #000000;
}

table tr:nth-child(2) {
	background:linear-gradient(#8A8B8D, #A7ABAA);
	box-shadow:0px 30px 8px -25px #000000;
}

table tr:nth-child(3) {
	background:linear-gradient(#D66102, #DC8B1F);
	box-shadow:0px 30px 8px -25px #000000;
}

table tr:hover{
	background:linear-gradient(#d4f0fd, #d4f0fd);
	box-shadow:0px 30px 8px -25px #000000;
}

table td.icon{
	background-size: 120px;
	background-position: left 15px center;
	background-repeat: no-repeat;
	padding-left: 265px;
}

table td.icon.gold{
	background-image: url(icon-gold.png)
}

table td.icon.silver{
	background-image: url(icon-silver.png)
}

table td.icon.bronze{
	background-image: url(icon-bronze.png)
}

table td:first-child{
	border-radius: 30px 0 0 30px;
}

table td:last-child{
	border-radius: 0 30px 30px 0;
}
